<div style="padding:10px">
<table cellpadding="0" cellspacing="0" class="form-table">
	<tr>
		<td style="width:80px">人员名称：</td>
		<td><input name="truename" id="truename" style="width:200px" class="easyui-validatebox" required="true"></input></td>
	</tr>
	<tr>
		<td style="width:80px">所属部门：</td>
		<td><input name="pid" id="pid" style="width:200px" class="easyui-combotree" url="@{Departs.getTree()}" required="true"></input></td>
	</tr>
	<tr>
		<td style="width:80px">登录帐户：</td>
		<td><input name="username" id="username" style="width:200px" class="easyui-validatebox" required="true"></input></td>
	</tr>
	<tr>
		<td style="width:80px">登录密码：</td>
		<td><input type="password" name="password" id="password" style="width:200px" class="easyui-validatebox input" required="true"></input></td>
	</tr>
	<tr>
		<td style="width:80px">确认密码：</td>
		<td><input type="password" class="easyui-validatebox e-input" style="width:200px" id="confirmPassword" name="confirmPassword" required="true" validType="confirm['#password']"></input></td>
	</tr>
	<tr>
		<td style="width:80px">状态：</td>
		<td><input name="flag" id="flag" style="width:200px" class="easyui-combobox" url="@{Dictionaries.getCombobox('LOCKED')}" valueField='id' textField='text'></input></td>
	</tr>
	<tr>
		<td style="width:80px">性别：</td>
		<td><input name="sex" id="sex" style="width:200px" class="easyui-combobox" url="@{Dictionaries.getCombobox('SEX')}" valueField='id' textField='text'></input></td>
	</tr>
	<tr>
		<td style="width:80px">备注：</td>
		<td><input name="note" id="note" style="width:200px"></input></td>
	</tr>
</table>
</div>