#{extends 'main.html' /}
#{set title:'K2Studio' /}
#{set 'moreScripts'}
<script>
	var _menus = ${menus.raw()};
</script>
#{/set}
<div region="north" split="true" border="false" style="overflow: hidden; height: 50px; background: url(../public/images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%; line-height: 40px;color: #fff; font-family: Verdana, 微软雅黑,黑体">
<span style="float:right; padding-right:20px;" class="head">欢迎 ${session.username} <a href="#" id="editpass">修改密码</a> <a href="@{Secure.logout()}" id="loginOut">安全退出</a></span>
<span style="padding-left:10px; font-size: 16px; "><img src="../public/images/blocks.gif" width="20" height="20" align="absmiddle" /> #{config.show 'SYS_COMPANY_NAME'/}</span>
</div>

<div region="south" split="true" style="height: 30px; background: #D2E0F2; ">
<div class="footer">By 疯狂秀才(QQ:1055818239) jQuery.Easy-UI QQ讨论群： 112044258、32994605、36534121、56271061</div>
</div>

<div region="west" hide="true" split="true" title="#{config.show 'WEST_NAVIGATE_TITLE'/}" style="width:180px;" id="west">
<div id="nav" class="easyui-accordion" fit="true" border="false"></div>
</div>

<div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">
<div id="tabs" class="easyui-tabs"  fit="true" border="false">
<div title="#{config.show 'WELCOME_PAGE_TITLE'/}" style="padding:20px;overflow:hidden; color:red;"></div>
</div>
</div>
    
<div id="mm" class="easyui-menu" style="width:150px;">
<div id="mm-tabupdate">刷新</div>
<div class="menu-sep"></div>
<div id="mm-tabclose">关闭</div>
<div id="mm-tabcloseall">全部关闭</div>
<div id="mm-tabcloseother">除此之外全部关闭</div>
<div class="menu-sep"></div>
<div id="mm-exit">退出</div>
</div>