<html>
<head>
<title>#{config.show "SYS_TITLE"/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" type="text/css" href="/public/themes/#{config.show 'SYS_DEFAULT_THEME'/}/easyui.css">
<link rel="stylesheet" type="text/css" href="@{'/public/themes/icon.css'}">
<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.easyui.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/outlook2.js'}"></script>
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
#{get 'moreScripts' /}
</head>
<body class="easyui-layout">
#{doLayout /}
</body>
</html>
